---
import Layout from '../layouts/Layout.astro';
import H1 from '../components/typography/H1.astro';
import GradientFont from '../components/typography/GradientFont.astro';
import P from '../components/typography/P.astro';
import ContactButtons from '../components/ContactButtons.astro';
---

<Layout title="Carl Dressler">
	<div class="flex flex-col justify-center items-center h-full">
		<div class="max-w-[512px] flex flex-col gap-12">
			<H1 class="text-center">Carl <br/> <GradientFont bold="false">Dressler</GradientFont></H1>
			<main class="flex flex-col gap-4">
				<P>Hi, ich bin Carl!</P>
				<P>Seit 2023 studiere ich <GradientFont>Wirtschaftsinformatik</GradientFont> an der Fachhochschule Dortmund.</P>
				<P>Außerdem arbeite ich als <GradientFont>Fullstack-Entwickler</GradientFont> seit 2 Jahren bei der reinorange GmbH und entwickle dort Webseiten für spannende Unternehmen.</P>
				<P>Insgesamt konzeptioniere, designe und programmiere ich <GradientFont>seit fast 4 Jahren</GradientFont> mal dies und mal das — mehr oder weniger konsequent.</P>
			</main>
			<ContactButtons>
		</div>
	</div>
</Layout>

