---
import '../styles/main.scss'

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="de">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Ich bin Carl und studiere Wirtschaftsinformatik. Außerdem konzeptioniere, designe und programmiere ich Webseiten und anderes cooles Zeug." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="w-screen h-screen text-base lg:text-xl font-sans font-normal text-slate-800">
		<slot />
	</body>
</html>